---
import { TinaMarkdown } from 'tinacms/dist/rich-text';

import { client } from '../../../tina/__generated__/client';

import { formatDateTime } from '../../utils/formatDate';

import '@fontsource/roboto-mono';

// import '../../styles/cms.css';

import Layout from '../../layouts/Layout.astro';

const { post } = Astro.params;

const url = Astro.url.href;

const singlePostRes = await client.queries.post({ relativePath: `${post}.md` });
const singlePost = singlePostRes.data.post;

const formattedDate = formatDateTime(singlePost.posted);
---

<Layout
	title={`Laurent. | Blog - ${singlePost.title}`}
	description={singlePost.summary.children[0].children[0].text}
	url={url}
>
	<main class='md:px-36 md:py-12'>
		<div class='mb-2'>
			<a href='/blog' class='text-blue-700 dark:text-blue-400'>{`<- back`}</a>
		</div>

		<div>
			<h3 class='text-red-500 text-3xl font-bold'>{singlePost.title}</h3>
			<p class='text-gray-500'>{formattedDate}</p>
		</div>

		<div class='cms-content my-12'>
			<TinaMarkdown content={singlePost.body} />
		</div>

		{
			singlePost.tags && (
				<div class='flex'>
					<p class='font-bold mr-2'>TAGS:</p>

					{singlePost.tags.map((tag, index) => (
						<p class='text-blue-400'>
							{index ? ',' : ''}
							{tag}
						</p>
					))}
				</div>
			)
		}
	</main>
</Layout>
