---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';

import memoji1 from '../images/memojis/laurent-memoji-1.svg';
import memoji2 from '../images/memojis/laurent-memoji-2.svg';
import memoji3 from '../images/memojis/laurent-memoji-3.svg';

import rectangle from '../images/rectangle.svg';

import github from '../images/logos/github.svg';
import twitter from '../images/logos/twitter.svg';
import linkedIn from '../images/logos/linkedIn.svg';
---

<Layout title='Laurent.'>
	<main class=''>
		<Navbar />

		<div
			id='hero'
			class='flex flex-col-reverse md:flex-row h-screen justify-around items-center'
		>
			<div class='flex flex-col gap-10'>
				<h2 class='text-5xl font-bold flex items-end md:items-center gap-3'>
					Oluwasegun Olagunju <span>
						<img src={rectangle} alt='Yellow Rectangle' />
					</span>
				</h2>
				<p class='text-xl'>Developer from Lagos, Nigeria</p>

				<ul class='flex gap-4 w-28 h-28'>
					<li>
						<a href='https://github.com/laurentcodes' target='_blank'
							><img src={github} alt='Github Logo' /></a
						>
					</li>
					<li>
						<a href='https://twitter.com/laurent__god' target='_blank'
							><img src={twitter} alt='Twitter Logo' /></a
						>
					</li>
					<li>
						<a href='https://www.linkedin.com/in/laurentcodes/' target='_blank'>
							<img src={linkedIn} alt='LinkedIn Logo' /></a
						>
					</li>
				</ul>
			</div>

			<div
				class='bg-[#5643C133] rounded-full w-[300px] h-[300px] flex justify-center items-center mt-[50px] md:mt-0'
			>
				<img
					class='w-[250px] h-[250px] ml-3'
					src={memoji1}
					alt='Laurents Memoji'
				/>
			</div>
		</div>

		<div
			id='about'
			class='flex flex-col md:h-screen d md:flex-row justify-around items-center mb-12 md:mb-0'
		>
			<div
				class='bg-[#FBC6034D] rounded-full w-[300px] h-[300px] flex justify-center items-center mb-12 md:mb-0'
			>
				<img class='w-[250px] h-[250px]' src={memoji2} alt='Laurents Memoji' />
			</div>

			<div class='flex flex-col gap-6 md:w-[500px]'>
				<h2 class='text-3xl md:text-5xl font-bold'>About Me</h2>

				<p class='md:text-xl text-gray-500'>
					Dedicated Software Developer experienced in JavaScript and TypeScript,
					passionate about creating innovative solutions through code.
				</p>

				<p class='md:text-xl text-gray-500'>
					From designing user-friendly interfaces to optimizing performance, I
					collaborate with cross-functional teams to deliver high-quality,
					scalable software applications that exceed user expectations.
				</p>

				<p class='md:text-xl text-gray-500'>
					An Organized person, always comfortable learning new things, always
					practicing, a problem solver. Gamer. Football, NBA and F1 fan.
				</p>
			</div>
		</div>

		<Projects />

		<Skills />

		<div
			id='contact'
			class='flex flex-col justify-center items-center gap-6 text-center'
		>
			<div
				class='bg-[#FBC603] rounded-full w-[300px] h-[300px] flex justify-center items-center'
			>
				<img
					class='w-[250px] h-[250px] ml-3'
					src={memoji3}
					alt='Laurents Memoji'
				/>
			</div>

			<h3 class='text-4xl'>Have a great idea?</h3>

			<ul class='flex gap-4 w-28 h-28'>
				<li>
					<a href='https://github.com/laurentcodes' target='_blank'
						><img src={github} alt='Github Logo' /></a
					>
				</li>
				<li>
					<a href='https://twitter.com/laurent__god' target='_blank'
						><img src={twitter} alt='Twitter Logo' /></a
					>
				</li>
				<li>
					<a href='https://www.linkedin.com/in/laurentcodes/' target='_blank'>
						<img src={linkedIn} alt='LinkedIn Logo' /></a
					>
				</li>
			</ul>
		</div>
	</main>
</Layout>

<style>
	:global(html) {
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		:global(html) {
			scroll-behavior: auto;
		}
	}
</style>
