---
export interface Props {
	role?: string;
	title: string;
	position: number;
	span: number;
	mdSpan: number;
	img?: string;
	link: string;
}

const colors = ['#5643C1', '#F2994A', '#8FCEF8', '#FBC603', '#2F80ED'];

const { role, title, position, span, mdSpan, img, link } = Astro.props;
---

<main
	class={`bg-[${colors[position]}] flex flex-col col-span-${span} md:col-span-${mdSpan} gap-3 rounded-md p-6 md:h-[150px] text-white`}
>
	{role && <p class='text-base md:text-xs'>{role}</p>}
	<p class='text-3xl md:text-2xl'>
		<a class='hover:underline' href={link} target='_blank'>
			{title}
		</a>
	</p>
	{
		img && (
			<span class='w-full'>
				<img
					class='w-12 h-12 md:w-8 md:h-8 float-right rounded-full border'
					src={img}
					alt='Icon'
				/>
			</span>
		)
	}
</main>
