---
import Navbar from '../components/Navbar.astro';

import '@fontsource/sen';
export interface Props {
	title: string;
	description: string;
	url: string;
}

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<link rel='icon' type='image/svg+xml' href='/favicon.ico' />

		<meta charset='UTF-8' />
		<meta name='description' content="Laurent's Portfolio" />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />

		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta
			property='og:image'
			content='https://laurentcodes.xyz/_astro/laurent-memoji-1.d4b9bfae.svg'
		/>
		<meta property='og:url' content={url} />

		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script
			type='text/partytown'
			src=`https://www.googletagmanager.com/gtag/js?id=${process.env.GA_MEASUREMENT_ID}`
		></script>
		<script type='text/partytown'>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}

			gtag('js', new Date());

			gtag('config', process.env.GA_MEASUREMENT_ID);
		</script>
	</head>
	<body class='p-6 flex flex-col'>
		<Navbar />

		<slot />
	</body>
</html>
